In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("test.csv")
df_t = pd.read_csv("test_num.csv")

In [3]:
df

         Source Target
0           아버지     오빠
1           아버지     오빠
2           아버지     오빠
3           아버지     오빠
4           아버지     오빠
5           아버지     오빠
6           아버지     오빠
7           아버지     오빠
8           아버지     오빠
9           아버지     오빠
10          아버지     오빠
11          아버지     오빠
12          아버지     오빠
13          아버지     오빠
14          아버지     오빠
15          아버지     오빠
16          아버지     오빠
17          아버지     오빠
18          아버지     오빠
19          아버지     오빠
20          아버지     오빠
21          아버지     오빠
22          아버지     오빠
23          아버지     오빠
24          아버지     오빠
25          아버지    가해자
26          아버지    가해자
27          아버지    가해자
28          아버지    가해자
29          아버지    가해자
...         ...    ...
26211372     남친     모텔
26211373     남친    성관계
26211374     남친     등등
26211375     남친     댓글
26211376     남친      만
26211377     남친   페이스북
26211378     남친    인스타
26211379     남친     퍼가
26211380     남친     자신
26211381     남친     몰래
26211382     남친     제발
26211383     남친   남자친구
26211384     남친     저런
26211385     남친     범죄
26211386     남친     생각
26211387     남친      막
26211388     남친     사회
26211389     남친     지금
26211390     남친     신고
26211391     남친     고소
26211392     남친   솜방망이
26211393     남친   집행유예
26211394     남친      살
26211395     남친     벌금
26211396     남친     내면
26211397     남친     평생
26211398     남친     알몸
26211399     남친     반대
26211400     남친    워마드
26211401     남친     남자

[26211402 rows x 2 columns]

In [4]:
df_t

                   Pair    Num
0          ('남성', '여성')  12180
1          ('여성', '남성')  12180
2           ('여성', '점')   8587
3           ('점', '여성')   8587
4          ('둘째딸', '딸')   7546
5          ('딸', '둘째딸')   7546
6          ('여성', '남자')   7209
7          ('남자', '여성')   7209
8          ('여성', '무고')   7163
9          ('무고', '여성')   7163
10         ('교사', '학생')   6726
11         ('학생', '교사')   6726
12         ('여성', '사회')   6398
13         ('사회', '여성')   6398
14         ('교사', '학교')   6085
15         ('학교', '교사')   6085
16       ('둘째딸', '살인자')   5880
17       ('살인자', '둘째딸')   5880
18         ('여성', '사람')   5232
19         ('사람', '여성')   5232
20          ('여성', '말')   5229
21          ('말', '여성')   5229
22         ('교육', '교사')   5222
23         ('교사', '교육')   5222
24        ('여성', '피해자')   4995
25        ('피해자', '여성')   4995
26         ('학생', '학교')   4960
27         ('학교', '학생')   4960
28         ('여성', '전용')   4834
29         ('전용', '여성')   4834
...                 ...    ...
1534738   ('남친', '전여친')      1
1534739    ('남친', '제목')      1
1534740     ('남친', '글')      1
1534741    ('남친', '모텔')      1
1534742   ('남친', '성관계')      1
1534743    ('남친', '등등')      1
1534744    ('남친', '댓글')      1
1534745     ('남친', '만')      1
1534746  ('남친', '페이스북')      1
1534747   ('남친', '인스타')      1
1534748    ('남친', '퍼가')      1
1534749    ('남친', '자신')      1
1534750    ('남친', '몰래')      1
1534751    ('남친', '제발')      1
1534752  ('남친', '남자친구')      1
1534753    ('남친', '저런')      1
1534754    ('남친', '범죄')      1
1534755    ('남친', '생각')      1
1534756     ('남친', '막')      1
1534757    ('남친', '사회')      1
1534758    ('남친', '신고')      1
1534759    ('남친', '고소')      1
1534760  ('남친', '솜방망이')      1
1534761  ('남친', '집행유예')      1
1534762     ('남친', '살')      1
1534763    ('남친', '벌금')      1
1534764    ('남친', '내면')      1
1534765    ('남친', '알몸')      1
1534766    ('남친', '반대')      1
1534767   ('남친', '워마드')      1

[1534768 rows x 2 columns]

In [5]:
def fine_word(dft, word):
    idx = dft.find(word)
    if(idx<0):
        return False
    else:
        return True

In [6]:
def find_dfs(df_t, word, num, go=0):
    hangul = re.compile('[^ㄱ-ㅣ가-힣]+')
    results = []
    test = df_t[df_t['Pair'].apply(lambda x: fine_word(x,word))]
    for i,t in test[:num*2].iterrows():
        f_word = t['Pair'][t['Pair'].find(word)+len(word):]
        result = hangul.sub('', f_word)
        if(result):
            if(go):
                print(result, t["Num"])
            results.append(result)
            
    return results

In [7]:
def fine_list(dft, lists):
    return (dft in lists)

In [8]:
def make_relation(df_t, word, num,data_num):
    hangul = re.compile('[^ㄱ-ㅣ가-힣]+')
    words = []
    words = find_dfs(df_t, word, num,go=1)
    words.append(word)
    print(words)
    t = df[df["Source"]==words[0]]
    for word in words:
        t_df = df[df["Source"]==word]
        top_list = find_dfs(df_t, word, data_num)
        t = t.append(t_df[t_df['Target'].apply(lambda x: fine_list(x,top_list))])
        print(top_list)
    return t

In [9]:
def make_relation(df_t, word, num,data_num):
    hangul = re.compile('[^ㄱ-ㅣ가-힣]+')
    words = []
    words = find_dfs(df_t, word, num,go=1)
    words.append(word)
    print(words)
    t = df[df["Source"]==words[0]]
    for word in words:
        t_df = df[df["Source"]==word]
        top_list = find_dfs(df_t, word, data_num)
        t = t.append(t_df[(t_df['Target'].apply(lambda x: fine_list(x,top_list))) & (t_df['Source']== word)])
        print(top_list)
    return t

In [10]:
word = "서민"
node_num = 5
data_num = 10
#30개만 나오게 개당
make_relation(df_t, word , node_num, data_num).to_csv(word + str(node_num)+".csv",index=False)

분양 1118
공사 777
전환 727
주택 680
무 436
['분양', '공사', '전환', '주택', '무', '서민']
['전환', '공사', '주택', '서민', '무', '임대', '건설', '집', '공급', '국토부']
['분양', '전환', '건설', '주택', '서민', '무', '공급', '국토부', '택지', '주거']
['분양', '공사', '주택', '서민', '교사', '무', '건설', '국토부', '임대', '공급']
['분양', '전환', '공사', '서민', '무', '임대', '건설', '공급', '택지', '집']
['고', '고여성', '슬림', '슬림한국', '고죄', '고죄여성', '고', '고점', '슬림사람', '슬림', '여성', '슬림나라', '슬림', '슬림사회', '슬림', '고', '고남성', '원', '원교사']
['분양', '공사', '전환', '주택', '무', '건설', '공매도', '임대', '주거', '대통령']

In [11]:
word = "삼디프린터"
node_num = 5
data_num = 10
#30개만 나오게 개당
make_relation(df_t, word , node_num, data_num).to_csv(word + str(node_num)+".csv",index=False)

['삼디프린터']
[]

In [14]:
word = "표절"
node_num = 5
data_num = 10
#30개만 나오게 개당
make_relation(df_t, word , node_num, data_num).to_csv(word + str(node_num)+".csv",index=False)

패션 286
모자 260
저희 221
마스크 195
기업 130
['패션', '모자', '저희', '마스크', '기업', '표절']
['모자', '저희', '마스크', '표절', '기업', '대기업', '스타트업', '제품', '분쟁', '관련']
['패션', '저희', '마스크', '표절', '기업', '대기업', '스타트업', '제품', '분쟁', '관련']
['사건', '둘째딸', '아이', '아빠', '말', '딸', '사람', '병원', '엄마', '집']
['패션', '모자', '저희', '표절', '기업', '미세먼지', '대기업', '스타트업', '제품', '분쟁']
['공매도', '국민', '한국', '투자자', '위', '작가', '중국', '시장', '취업', '기술']
['패션', '모자', '저희', '마스크', '기업', '대기업', '스타트업', '제품', '분쟁', '관련']

In [13]:
word = "공무원"
node_num = 5
data_num = 10
#30개만 나오게 개당
make_relation(df_t, word , node_num, data_num).to_csv(word + str(node_num)+".csv",index=False)

교사 2361
학교 1113
영양사 968
교육 933
영양 770
['교사', '학교', '영양사', '교육', '영양', '공무원']
['학생', '학교', '교육', '아이', '어린이집', '보육', '영양사', '영양', '수업', '문제']
['교사', '학생', '교육', '교장', '둘째딸', '아이', '씨', '영양사', '사건', '학교폭력', '폭력학교']
['교사', '영양', '학교', '교육', '공무원', '수업', '급식', '협회', '학생', '교']
['교사', '학교', '학생', '무슬림', '사회', '한국', '사람', '정책', '생각', '교장']
['사', '사교사', '교사', '사영양', '영양사', '사', '사학교', '학교', '사', '사교육', '사공무원', '사', '사수업', '사', '사', '사급식', '공무원']
['교사', '학교', '영양사', '교육', '영양', '수업', '학생', '급식', '경찰', '생각']

In [15]:
word = "탄핵"
node_num = 5
data_num = 10
#30개만 나오게 개당
make_relation(df_t, word , node_num, data_num).to_csv(word + str(node_num)+".csv",index=False)

국민 36
청원 33
국회 21
국회의원 18
대통령 15
['국민', '청원', '국회', '국회의원', '대통령', '탄핵']
['여성', '대한민국', '난민', '정부', '국가', '사람', '위', '외국인', '정책', '한국']
['국민', '답변', '여성', '교사', '경찰', '학생', '문제', '위', '학교', '명']
['의원', '의원요구', '법', '법요구', '의원국민', '의원', '국민', '의원', '의원제출', '법', '법제출', '의원의원', '의원', '의원', '의원자료', '법', '법자료', '의원국회', '국회의원']
['요구', '국민', '제출', '의원', '자료', '국회', '관련', '법', '서류', '위원회']
['국민', '여성', '사람', '한국', '정부', '대한민국', '말', '생각', '사회', '교육']
['국민', '청원', '국회', '국회의원', '대통령', '정부', '청와대', '헌법', '기관', '정치']

In [16]:
word = "사기꾼"
node_num = 5
data_num = 10
#30개만 나오게 개당
make_relation(df_t, word , node_num, data_num).to_csv(word + str(node_num)+".csv",index=False)

이명박 5
대통령 4
환수 4
['이명박', '대통령', '환수', '사기꾼']
['다스', '주식', '대통령', '재산', '플랜', '계', '불법', '대해', '시민단체', '평가']
['국민', '여성', '사람', '한국', '정부', '대한민국', '말', '생각', '사회', '교육']
['이명박', '대통령', '국민', '재산', '비리', '돈', '국고', '신분', '모든', '불법']
['이명박', '대통령', '환수', '재산', '비리', '돈', '국고', '국민', '신분']

In [18]:
word = "대기업"
node_num = 5
data_num = 10
#30개만 나오게 개당
make_relation(df_t, word , node_num, data_num).to_csv(word + str(node_num)+".csv",index=False)

기술 297
저희 232
특허 231
텔레콤 198
패션 198
['기술', '저희', '특허', '텔레콤', '패션', '대기업']
['특허', '텔레콤', '소송', '사건', '대기업', '중소기업', '침해', '판결', '저희', '사기술', '기술사']
['사건', '둘째딸', '아이', '아빠', '말', '딸', '사람', '병원', '엄마', '집']
['기술', '텔레콤', '소송', '사건', '대기업', '중소기업', '판결', '침해', '저희', '법원', '법원기술']
['기술', '특허', '소송', '사건', '대기업', '중소기업', '판결', '침해', '저희', '개발', '통신']
['모자', '저희', '마스크', '표절', '기업', '대기업', '스타트업', '제품', '분쟁', '관련']
['기술', '저희', '특허', '텔레콤', '패션', '모자', '소송', '기업', '사건', '마스크']

In [19]:
word = "노예"
node_num = 5
data_num = 10
#30개만 나오게 개당
make_relation(df_t, word , node_num, data_num).to_csv(word + str(node_num)+".csv",index=False)

전범 46
기 28
일본 24
피해 18
사용 18
['전범', '기', '일본', '피해', '사용', '노예']
['기', '일본', '사용', '피해', '우리나라', '문제', '생각', '양', '금지', '유럽', '나치', '국제', '인식']
['관', '관공매도', '능', '능공매도', '업', '업공매도', '관', '관주식', '관', '관투자자', '집행', '관', '관개인', '관', '관주가', '준', '준교사', '병원']
['전범', '국가', '문제', '우리나라', '문화', '기', '한국', '사용', '국민', '생각']
['자', '자여성', '자', '자가해자', '자사건', '자', '자', '자사람', '여성', '불법', '자성폭력', '자', '자말', '자', '자', '자남성', '자처벌', '자']
['범죄', '불법', '생각', '석면', '관리', '몰카', '처벌', '유', '사람', '국민']
['전범', '기', '일본', '피해', '사용', '우리나라', '문제', '할머니', '돈', '생각']

In [20]:
word = "성장"
node_num = 5
data_num = 10
#30개만 나오게 개당
make_relation(df_t, word , node_num, data_num).to_csv(word + str(node_num)+".csv",index=False)

책 136
대여 71
구매 68
국민연금 66
주식시장 63
['책', '대여', '구매', '국민연금', '주식시장', '성장']
['여성', '국민', '사회', '사람', '정부', '점', '한국', '남성', '무슬림', '교육']
['국민연금', '주식시장', '책', '자격', '주식', '공매도', '세력', '사', '시장', '금융']
['책', '성매매', '감소', '도서', '출판', '서점', '전자책', '산업', '여성', '위']
['공매도', '주식시장', '주식', '국민', '세력', '대여', '개인', '투자자', '주가', '금융']
['공매도', '주식', '투자자', '국민연금', '금융', '주가', '개인', '국민', '세력', '증권']
['책', '대여', '구매', '국민연금', '주식시장', '도서', '출판', '감소', '공매도', '서점']